h1.heroSection__info-text-h1{
    color: $smoky-black;
    font-family: $old-standard;
    font-weight: $bold;
    font-size: $xx-large;
}


p {
    color: $smoky-black;
    font-family: $raleway;
    font-weight: $regular;
    font-size: $large;
}

h1.heroSection__info-footer-h1{
    color: $white;
    font-family: $old-standard;
    font-weight: $bold;
    font-size: $xx-large;
}

h2.heroSection__info-footer-h2{
    color: $white;
    font-family: $old-standard;
    font-weight: $regular;
    font-size: $x-large;
}