.navbar__logo-box{
    position: absolute;
    background-color: $smoky-black;
    height: 72px;
    width: 72px;
    z-index: -1;
    
    

}

.navbar{
    @media (width: 768px){
        padding: 0.7rem!important;
    }
}

.navbar__logo-text {
   
    display: inline-block;
    text-align: center;
    &:hover {
        color: $isabelline !important;
    }

    &:focus {
        color: $isabelline !important;
    }
    @media (max-width: 768px) {
        transform: translateX(-15%);
    }
    @media (min-width: 1024px) {
        transform: rotate(270deg);
    }
    
    font-family: $old-standard;
    font-weight: $regular;

    text-decoration: none;
    color: $white !important;
    z-index: 1;
    
}



.nav-link{
    font-family: $raleway;
    font-size: $medium;
    font-weight: $bold;
    color: $smoky-black!important;
    padding-right: 5rem!important;
    
}


